<ul class="list-group">
  @for (pokemon of pokemons(); track $index) {
  <li
    class="list-group-item list-group-item-action"
    [ngClass]="{ active: pokemonDetail()?.name === pokemon.name }"
    (click)="getPokemonDetail(pokemon.name)"
  >
    {{ numerationPokemon() + ($index + 1) }}. {{ pokemon.name }}
  </li>
  }
</ul>
<div class="col-12 mt-2 text-center">
  <button
    type="button"
    class="btn btn-primary me-2"
    [disabled]="this.pagination()?.previous === null"
    (click)="previousPage()"
  >
    <
  </button>
  <button type="button" class="btn btn-primary" (click)="nextPage()">
    >
  </button>
</div>