<app-header></app-header>
<router-outlet></router-outlet>

<!-- <app-form-array></app-form-array>

<app-forms></app-forms> -->

<!-- <div class="header-small p-2">
  <div class="row">
    <div class="col">
      <span>Solicita tu Demo de Prueba ahora </span><span>+569 7311 6277 </span>
    </div>
    <div class="col text-end">Login</div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 mx-auto text-center">
        <h1>
          Optimiza tu <span class="title-section">Gestión Contable </span>con
          tecnología inteligente
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6 mx-auto text-center">
        <span
          >Automatiza tus procesos contables y sincroniza tu información
          financiera de manera integrada y confiable.</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6 mx-auto text-center">
        <button class="btn btn-primary">Solicita tu Demo</button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="pc-image-container">
    <img src="../assets/images/pc.svg" class="img-fluid floating-image" alt="">
  </div>
</section>

<section class="background-section-pyme">
  <div class="container">
    <div class="row margin-top-25">
      <div class="col-md-12 col-lg-4 mx-auto">
        <h1>Gestión contable inteligente para PYMEs y Microempresas</h1>
        <p>
          Con nuestra solución integrada, ahorra tiempo y minimiza errores al
          automatizar hasta un 100% de tus procesos contables. Nuestro software
          utiliza inteligencia artificial para procesar y organizar datos de
          forma eficiente, conectado directamente con entidades proveedoras como
          el SII y bancos.
        </p>

        <button class="btn btn-primary">Solicita tu Demo</button>
      </div>
      <div class="col-md-12 col-lg-4 mx-auto">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="feature-item">
              <img
                src="../assets/images/Vector.svg"
                alt="Icono"
                class="feature-icon"
              />
              <div>
                <h5 class="feature-title">Sincronización bancaria</h5>
                <p class="feature-description">
                  Registros bancarios precisos integrados al instante.
                </p>
              </div>
            </div>

            <div class="feature-item">
              <img
                src="../assets/images/Vector.svg"
                alt="Icono"
                class="feature-icon"
              />
              <div>
                <h5 class="feature-title">Conectividad con el SII</h5>
                <p class="feature-description">
                  Información fiscal sincronizada en tiempo real.
                </p>
              </div>
            </div>

            <div class="feature-item">
              <img
                src="../assets/images/Vector.svg"
                alt="Icono"
                class="feature-icon"
              />
              <div>
                <h5 class="feature-title">Base de conocimiento automatizada</h5>
                <p class="feature-description">
                  Procesos contables optimizados y sin esfuerzo manual.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto text-center">
        <h1>
          Optimiza tu <span class="title-section">Gestión Contable </span>con
          tecnología inteligente
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto text-center">
        <span
          >Automatiza tus procesos contables y sincroniza tu información
          financiera de manera integrada y confiable.</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto text-center">
        <button class="btn btn-primary">Solicita tu Demo</button>
      </div>
    </div>
  </div>
</section> -->
