// Importa las funciones y mapas primero
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Sobrescribe las variables antes de cargar el resto de Bootstrap
$primary: $indigo-400;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

// Importa el resto de los estilos de Bootstrap
@import "bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.list-group-item.active {
  background-color: $primary;
  border-color: $primary;
  color: white;
}

.carousel-inner {
  background-color: $indigo-100 !important;
}